.myFontClass{
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(201, 199, 199);
}

.logo {
  position: absolute;
  width:200px;
  height:150px;
  top: -10px;
  left: 10px;
}

.header {
  padding: 100px;
  background: rgb(29, 151, 170);
  color: white;
  width: 91%;
  font-size: 20px;
  top: 20px;
  text-align: left;
}

.footer {
  padding: 70px;
  position: absolute;
  text-align: center;
  background: rgb(29, 151, 170);
  color: white;
  left: 0px;
  top: 1400px;
  width: 91%;
}

.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .login {
    background-color: rgb(29, 151, 170); 
    color: white; 
    position: absolute; 
    left: 1150px; 
    top: 10px;
    font-size: 16px;
    margin: 1px 1px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .login:hover {
    color: white;
    font-weight: bolder;
  }

  .signup {
    background-color: rgb(29, 151, 170); 
    color: white; 
    position: absolute; 
    left: 1000px; 
    top: 10px;
    font-size: 16px;
    margin: 1px 1px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .signup:hover {
    color: white;
    font-weight: bolder;
  }

  .container {
    text-align: center;
    color: white;
  }

/*BROWSE CATEGORIES*/

  .browseCategories {
    position: absolute;
    top: 440px;
    left:380px;
    background-color: black;
    padding-left: 40px;
    padding-right: 40px;
  }

  .browseCategoriesImage {
    position: absolute;
    width: 30%;
    top: 350px;
    left: 250px;
  }

  .theList{
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    list-style-type: none;
  }

  .theList li:hover{
    font-weight: bolder;
    color: rgb(11, 156, 240);
  }

/*WRITE A REVIEW*/

.writeAReview {
  position: absolute;
  top: 440px;
  left: 880px;
  background-color: black;
  padding-left: 40px;
  padding-right: 40px;
}

.writeAReviewImage {
  position: absolute;
  width: 30%;
  top: 350px;
  left: 750px;
}

/*JOIN HOMESTARS*/

.joinHomestars {
  position: absolute;
  top: 790px;
  left: 880px;
  background-color: black;
  padding-left: 40px;
  padding-right: 40px;
}

.joinHomestarsImage {
  position: absolute;
  width: 30%;
  top: 700px;
  left: 750px;
}

/*GET A QUOTE*/

.getAQuote {
  position: absolute;
  top: 790px;
  left: 380px;
  background-color: black;
  padding-left: 40px;
  padding-right: 40px;
}

.getAQuoteImage {
  position: absolute;
  width: 30%;
  top: 700px;
  left: 250px;
}

/*NEWSLETTER SIGNUP*/

.newsletterSignup {
  position: absolute;
  top: 1130px;
  left: 380px;
  background-color: black;
  padding-left: 40px;
  padding-right: 40px;
}

.newsletterSignupImage {
  position: absolute;
  width: 30%;
  top: 1050px;
  left: 250px;
}

.newsletterImage {
  position: absolute;
  height:170%;
  width: 50%;
  top: 200px;
  left: 10px;
}

.newsletterH {
  font-size: 40px;
  text-align: right;
  font-weight: bolder;
  color: white;
}

form {
  margin-top: -600px;
  margin-left: 830px;
}

.newsletterFormBox {
  box-sizing: border-box;
  margin-top: 80px;
  margin-left: 800px;
  height: 760px;
  width: 500px;
  background-color: rgb(29, 151, 170);
  border-radius: 30px;
}

.newsletterFormControl {
  width: 400px;
  height: 80px;
  background-color: rgb(201, 199, 199);
  font-size: 18px;
  border-radius: 30px;
  margin-bottom: 15px;
  padding-left: 30px;
}

.newsletterFormButton {
  background-color: rgb(223, 138, 28);
  color: white;
  font-size: 22px;
  font-weight: bolder;
  height: 80px;
  width: 500px;
  margin-top: 80px;
  border-radius: 40px;
  margin-left: -30px;
}

.newsletterFormButton:hover {
  font-size: 30px;
  background-color: rgb(253, 143, 0);
}

/*BLOG*/

.blog {
  position: absolute;
  top: 1130px;
  left: 900px;
  background-color: black;
  padding-left: 40px;
  padding-right: 40px;
}

.blogImage {
  position: absolute;
  width: 30%;
  top: 1050px;
  left: 750px;
}

.blogContainer {
  text-align: left;
  color: white;
}

/*LIFESTYLE*/

.lifestyle {
  position: absolute;
  top: 680px;
  left: 70px;
  font-weight: bolder;
}

.lifestyleImage {
  position: absolute;
  height: 88%;
  width: 50%;
  top: 200px;
  left: 50px;
}

/*DESIGN*/

.design {
  position: absolute;
  top: 390px;
  left: 770px;
  font-weight: bolder;
}

.designImage {
  position: absolute;
  height: 40%;
  width: 40%;
  top: 200px;
  left: 750px;
}

/*IMPROVEMENTS*/

.improvement {
  position: absolute;
  top: 690px;
  left: 770px;
  font-weight: bolder;
}

.improvementImage {
  position: absolute;
  height: 40%;
  width: 40%;
  top: 500px;
  left: 750px;
}

/*UPDATES*/

.updates {
  position: absolute;
  top: 1110px;
  left: 70px;
  font-weight: bolder;
}

.updatesImage {
  position: absolute;
  height: 60%;
  width: 92%;
  top: 800px;
  left: 50px;
}

/*CONTACT US*/

.contactUsImage {
  position: absolute;
  height:170%;
  width: 50%;
  top: 200px;
  left: 10px;
}

.contactUsH {
  font-size: 50px;
  text-align: right;
  font-weight: bolder;
  color: white;
}

.contactUsBox {
  box-sizing: border-box;
  margin-top: 10px;
  margin-left: 800px;
  height: 930px;
  width: 500px;
  background-color: rgb(29, 151, 170);
  border-radius: 30px;
}

.contactUsFormControl {
  width: 400px;
  height: 80px;
  background-color: rgb(201, 199, 199);
  font-size: 18px;
  border-radius: 30px;
  margin-bottom: 15px;
  padding-left: 30px;
}

.contactUsFormButton {
  background-color: rgb(223, 138, 28);
  color: white;
  font-size: 22px;
  font-weight: bolder;
  height: 80px;
  width: 500px;
  margin-top: 5px;
  border-radius: 40px;
  margin-left: -30px;
}

.contactUsFormButton:hover {
  font-size: 30px;
  background-color: rgb(253, 143, 0);
}

/*SIGNUP*/

.signupH {
  font-size: 100px;
  text-align: left;
  font-weight: bolder;
  color: white;
}

.signupFormBox {
  box-sizing: border-box;
  margin-top: 80px;
  margin-left: 800px;
  height: 760px;
  width: 500px;
  background-color: rgb(29, 151, 170);
  border-radius: 30px;
}

.signupFormControl {
  width: 400px;
  height: 80px;
  background-color: rgb(201, 199, 199);
  font-size: 18px;
  border-radius: 30px;
  margin-bottom: 15px;
  padding-left: 30px;
}

.signupFormButton {
  background-color: rgb(223, 138, 28);
  color: white;
  font-size: 22px;
  font-weight: bolder;
  height: 80px;
  width: 500px;
  margin-top: 80px;
  border-radius: 40px;
  margin-left: -30px;
}

.signupFormButton:hover {
  font-size: 30px;
  background-color: rgb(253, 143, 0);
}

/*LOGIN*/

.loginH {
  font-size: 100px;
  text-align: left;
  font-weight: bolder;
  color: white;
}

.loginFormBox {
  box-sizing: border-box;
  margin-top: 80px;
  margin-left: 800px;
  height: 760px;
  width: 500px;
  background-color: rgb(29, 151, 170);
  border-radius: 30px;
}

.loginFormControl {
  width: 400px;
  height: 80px;
  background-color: rgb(201, 199, 199);
  font-size: 18px;
  border-radius: 30px;
  margin-bottom: 15px;
  padding-left: 30px;
}

.loginFormButton {
  background-color: rgb(223, 138, 28);
  color: white;
  font-size: 22px;
  font-weight: bolder;
  height: 80px;
  width: 500px;
  margin-top: 80px;
  border-radius: 40px;
  margin-left: -30px;
}

.loginFormButton:hover {
  font-size: 30px;
  background-color: rgb(253, 143, 0);
}